.lg-outer .lg-has-vimeo .lg-video-play {
  background-image: url(../images/vimeo-play.png) !important;
}
.lg-outer .lg-has-vimeo:hover .lg-video-play {
  background-image: url(../images/vimeo-play.png) !important;
}
.lg-outer .lg-has-vimeo .lg-video-play {
  background-image: url(../images/youtube-play.png) !important;
}
.lg-outer .lg-has-youtube:hover .lg-video-play {
  background-image: url(../images/youtube-play.png) !important;
}
.lg-outer.fb-comments .fb-comments {
  background-image: url(../images/loading.gif) !important;
}
.lg-outer.fb-comments .fb-comments.fb_iframe_widget.fb_iframe_widget_loader {
  background-image: url(../images/loading.gif) !important;
}
.lg-outer.fb-comments .lg-img-wrap, .lg-outer.fb-comments .lg-video-cont {
  background-image: url(../images/loading.gif) !important;
}
.lg-outer .lg-item {
  background-image: url(../images/loading.gif) !important;
}
