.slide--eat-and-drink {
  min-height: calc(100% - 140px);
}

.eat-and-drink {
  &__wrapper {
    height: calc(100vh - 140px);
    & > .row {
      height: 75vh;
      margin-left: -2px;
      margin-right: -2px;
      @media #{$mobile_break_point} {
        height: 100%;
        &:nth-child(1) {
          display: flex;
          flex-direction: column-reverse;
        }
      }
      .col {
        padding-left: 2px;
        padding-right: 2px;
        height: 100%;
        &:hover {
          .content__img {
            &:after {
              content: none;
            }
          }
        }
        @media #{$mobile_break_point} {
          height: 50%;
          float: none;
          &:nth-child(1) {
            width: 100%;
            padding-left: 0;
          }
          & + .col {
            margin-top: 10px;
          }
        }
      }
    }
    .socials__list {
      float: right;
      margin-top: 25px;
      margin-bottom: 25px;
      @media #{$mobile_break_point} {
        float: none;
        text-align: center;
        margin-top: 25px;
      }
    }
    .content {
      height:100%;
      &__img {
        display: block;
        position: relative;
        height: 100%;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: linear-gradient(rgba(34,30,31,.2), rgba(34,30,31,.5));
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(0, -80%);
        margin-left: -25%;
        z-index: 1;
        @media #{$mobile_break_point} {
          transform: translateY(-50%);
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;  
        }
        h2 {
          font-size: 28px;
          margin: 0;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
      &__overlay {
        background: linear-gradient(to bottom, rgba(129,197,208, .25) 0%, rgba(217,28,91, .75) 100%);
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        transition: 0.75s height, opacity ease-in;
        vertical-align: middle;
        opacity: 0;
        @media #{$mobile_break_point} {
          height: 100%;
        }
        &--static {
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 45%;
          opacity: .35;
        }
      }
      &:hover {
        .content__overlay {
          height: 100%;
          opacity: .35;
        }
      }
    }
  }
}
// @supports(mix-blend-mode: darken) {
@supports(fuck: you) {
  .eat-and-drink__wrapper .content__overlay {
    background: linear-gradient(to bottom, rgba(129,197,208,1) 0%, rgba(217,28,91,1) 100%);
    mix-blend-mode: color;
    &:first-child {
      mix-blend-mode: darken;
    }
    &--static {
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
      mix-blend-mode: multiply;
      opacity: .35;
    }
  }
  .eat-and-drink__wrapper .content:hover {
    .content__overlay {
      height: 100%;
      opacity: .5;
    }
  }

}
