.slide--entertain {
  min-height: calc(100% - 140px);
}

.entertain {
  &__wrapper {
    height: 100%;
    & .row {
      & > .col {
        &:nth-child(1) {
          width: 25%;
          @media #{$mobile_break_point} {
            width: 85%;
            margin: -50px auto 30px;
            box-shadow: 10px 10px 60px 0 rgba(0,0,0,.25);
            padding: 30px 20px;
            z-index: 1;
            background-color: #fff;
          }
        }
        &:nth-child(2) {
          width: 75%;
        }
      }
      &:nth-child(1) {
        & > .col {
          &:nth-child(2) {
            height: 50vh;
          }
        }
      }
    }
    .artwork-1 {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-12%);
    }
    .socials__list {
      position: absolute;
      right: 1%;
      bottom: 10%;
      .instagram {
        margin-left: 0;
        margin-top: 15px;
      }
      .youtube {
        margin-left: 0;
        margin-top: 15px;
      }
    }
    .actions {
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &__item {
        display: block;
        a {
          letter-spacing: 2px;
        }
      }
      .go-to-gallery {
        background: url(../images/svg-sprite/exercise-btn-artwork.svg) no-repeat;
        width: 200px;
        height: 180px;
        position: fixed;
        left: 0;
        bottom: 0;
        a {
          display: block;
          padding: 75px 45px;
          max-width: 140px;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          text-align: left;
          span {
            display: block;
            margin-bottom: 10px;
          }
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
    .content {
      height: 100%;
      .artwork {
        position: absolute;
        top: 20%;
        right: -5%;
        filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.35));
        svg {
          width: 100px;
          height: 100px;
        }
      }
      text-align: center;
      &__title {
        color: $red_violet;
        font-size: 28px;
        margin-bottom: 30px;
        max-width: 200px;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 50px;
        @media #{$mobile_break_point} {
          margin-top: 0;
        }
      }
      &__img {
        height: 100%;
        &--secondry {
          position: absolute;
          right: 0;
          top: 100%;
          width: 65.5%;
          @media #{$mobile_break_point} {
            margin-top: 460px;
          }
          .back-to-main {
            background: $violet_eggplant;
            position: absolute;
            left: 0;
            top: 100%;
            width: 300px;
            line-height: 64px;
            font-size: 12px;
            letter-spacing: 4px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            text-align: center;
            span {
              display: inline-block;
              margin-left: 10px;

            }
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        display: block;
        margin: 0 auto;
        color: $red_violet;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        max-width: 100px;
        margin-left: 150px;
        margin-top: 30px;
          svg {
            width: 70px;
            height: 70px;
          }
        }
        span {
          display: block;
          margin-top: 0;
        }

        &__body {
          text-align: left;
          max-width: 240px;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.6;
          margin-left: 50px;
        }
      }
      .sponsor-info {
        position: absolute;
        text-align: center;
        top: 20vh;
        left: 55%;
        transform: translate(-96%, 0);
        background: #fff;
        width: 325px;
        max-height: 600px;
        padding: 50px 40px;
        box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.25);
        @media #{$desktop} {
          top: 20vh;
          left: 55%;
          transform: translate(-96%, 10%);
        }
        @media #{$mobile_break_point} {
          position: static;
          width: 100%;
          background-color: transparent;
          box-shadow: none;
          margin-top: 90px;
          padding-bottom: 10px;
        }
        .artwork {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10%;
          filter: drop-shadow(5px 15px 30px rgba(0,0,0,0.25));
          @media #{$mobile_break_point} {
            bottom: -60%;
          }
          svg {
            width: 86px;
            height: 76px;
          }
        }
        &__logo {
          display: inline-block;
          margin: 0 auto;
          margin-bottom: 25px;
          max-width: 80px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            vertical-align: top;
          }
        }
        h2, a {
          font-weight: bold;
          text-decoration: none;
          margin: 0;
        }
        h2, p, a, span {
          font-size: 15px;
          display: block;
          text-align: left;
          color: $thunder;
        }
        span {
          font-weight: 300;
        }
        p {
          font-size: 15px;
          font-weight: 300;
        }
        p:last-child {
          margin: 0;
        }
        a {
          text-align: center;
          margin-top: 20px;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: left;
          margin-top: 5px;
          margin-bottom: 20px;
          li {
            display: block;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.6;
          }
        }
        &__description {
          margin: 0;
          font-size: 15px;
          line-height: 1.6;
          font-weight: 300;
          text-align: left;
          margin-bottom: 20px;
        }
      }
  }
}
