.slide--event {
  height: 100%;
  @media #{$mobile_break_point} {
    position: relative;
    overflow: hidden;
  }
}

.event {
  &__wrapper {
    .socials__list {
      margin-top: 30px;
      margin-bottom: 30px;
      float: right;
      @media #{$mobile_break_point} {
        float: none;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 15px;
      }
    }
  }
  &__header {
    margin-bottom: 2px;
    height: 50vh;
    max-height: 50vh;
    @media #{$mobile_break_point} {
      height: 40vh;
      padding: 2px;
      margin: 0;
      overflow: hidden;
    }
  }
  &__img {
    display: block;
    position: relative;
    height: 100%;
    
    @media #{$mobile_break_point} {
      &.mobile-only {
        height: auto;
        display: block;
        position: static;
        .next-album {
          display: block;
          width: 300px;
          height: 300px;
          left: -150px;
          right: auto;
          bottom: -150px;
          top: auto;
          transform: none;
          padding-left: 170px;
          text-align: left;
          padding-top: 60px;
          line-height: 1.5;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      vertical-align: top;
    }
    .next-album {
      display: block;
      width: 155px;
      height: 155px;
      position: absolute;
      background: $red_violet;
      border-radius: 50%;
      right: -75px;
      top: 50%;
      text-decoration: none;
      text-align: center;
      z-index: 1;
      padding-top: 60px;
      transform: translateY(-50%);
      span {
        font-size: 14px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media #{$mobile_break_point} {
      width: 90%;
      top: 45%;
    }
    h1 {
      margin: 0;
      font-size: 44px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      @media #{$mobile_break_point} {
        font-size: 30px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__date {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @media #{$mobile_break_point} {
      width: 90%;
      text-align: center;
    }
    p {
      margin: 0;
      font-size: 44px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      @media #{$mobile_break_point} {
        font-size: 30px;
      }
    }
  }
  &__overlay {
    &--static {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
      opacity: 0.6;
    }
  }

  &__gallery {
    & > .row {
      margin-left: -2px;
      margin-right: -2px;
      height: 30vh;
      .col {
        padding: 2px;
        min-height: 100%;
      }
    }
    .content {
      &__media {
        display: block;
        position: relative;
        height: 100%;
        @media #{$mobile_break_point} {
          width: 50%;
          float: left;
          padding: 2px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        svg {
          width: 82px;
          height: 82px;
        }
      }
    }
  }
}

@supports(mix-blend-mode: darken) {
// @supports(fuck: you) {
  .event__wrapper .event__overlay--static {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    mix-blend-mode: multiply;
    opacity: 0.6;
  }
}
