.slide--explore {
  height: calc(100% - 140px);
  &.is-active {
    display: block;
  }
}
.explore__wrapper {
  height: 100%;
  .explore__gallery {
    height: 70vh;
    @media #{$mobile_break_point} {
      height: 140vh;
      .col:nth-child(1){
        .content:nth-child(1) .content__icon {
          top: 40%;
        }
      } 
    }
    & > .row {
      margin-left: -2px;
      margin-right: -2px;
      height: 100%;
    }
    .col {
      padding-left: 2px;
      padding-right: 2px;
      height: 100%;
      @media #{$mobile_break_point} {
        width: 50%;
        padding: 2px;
        height: 50%;
      }
      .row {
        margin: 0;
        &:first-child {
          padding-bottom: 2px;
        }
        &:last-child {
          padding-top: 2px;
        }
      }
    }
    .col:nth-child(2) {
      .row {
        height: 50%;
      }
    }
    .col:nth-child(3) {
      .row:first-child {
        height: 75%;
      }
      .row:last-child {
        height: 25%;
      }
    }
    .col:nth-child(4) {
      .row:first-child {
        height: 25%;
      }
      .row:last-child {
        height: 75%;
      }
    }
    .content {
      height:100%;
      &__img {
        display: block;
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
        svg {
          fill: #fff;
          width: 32px;
          height: 30px;
        }
      }
      &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        letter-spacing: 2px;
        z-index: 1;
        h2 {
          margin: 0;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
          font-size: 20px;
        }
      }
      &__overlay {
        background: linear-gradient(to bottom, rgba(129,197,208,.25) 0%, rgba(217,28,91,.75) 100%);
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        transition: 0.75s height, opacity ease-in;
        vertical-align: middle;
        opacity: 0;
        @media #{$mobile_break_point} {
          height: 100%;
        }
        &--static {
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 45%;
          opacity: .35;
        }
      }
      &:hover {
        .content__overlay {
          height: 100%;
          opacity: .35;
        }
      }
      &:nth-child(1) {
        .content__title {
          top: 50%;
        }
        .content__icon {
          top: 40%;
          @media #{$mobile_break_point} {
            top: 35%;
          }
        }
      }
      &#entertain {
        .content__title {
          top: 85%;
          @media #{$mobile_break_point} {
            top: 65%;
          }
        }
        .content__icon {
          top: 70%;
          @media #{$mobile_break_point} {
            top: 45%;
          }
        }
      }
      &#pet {
        .content__title {
          top: 65%;
        }
        .content__icon {
          top: 35%;
          @media #{$mobile_break_point} {
            top: 25%;
          }
        }
      }
      &#picnic {
        .content__icon {
          top: 35%;
          @media #{$mobile_break_point} {
            top: 32%;
          }
        }
      }
      &#exercise {
        .content__icon {
          top: 25%;
        }
      }
    }

  }
  .socials__list {
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    @media #{$mobile_break_point} {
      float: none;
      text-align: center;
    }
  }
}
@supports(mix-blend-mode: darken) {
// @supports(fuck: you) {
  .explore__wrapper .explore__gallery .content__overlay {
    background: linear-gradient(to bottom, rgba(129,197,208,1) 0%, rgba(217,28,91,1) 100%);
    mix-blend-mode: color;
    &:first-child {
      mix-blend-mode: darken;
    }
    &--static {
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
      mix-blend-mode: multiply;
      opacity: .35;
    }
  }
  .explore__wrapper .explore__gallery .content:hover {
    .content__overlay {
      height: 100%;
      opacity: .5;
    }
  }

}
.explore-image {
  font-family: 'object-fit: cover;';
}
