.menu-trigger {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s color linear;
  transition-delay: .5s;
  .page-active & {
    color: #6D6E70;
    z-index: 0;
  }
  .about-active & {
    color: #fff;
    z-index: 4;
  }
  &.opened {
    z-index: 4;
    color: #404041;
    .menu-icon{
      span {
        background: #fff;
        top: 0;
        left: 0;
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
@media(max-width: 767px) {
  .menu-text {
    display: none;
  }
}
.menu-icon {
  width: 30px;
  height: 10px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 4px;
  z-index: 4;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background: #fff;
    .page-active & {
      background: #4E5255;
    }
    .about-active & {
      background: #fff;
    }
    &:first-child {
      top: 0;
    }
    &:last-child {
      top: 8px;
    }
  }
}
.page--menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: $red_violet;
  z-index: 3;
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 658px;
    width: 475px;
    z-index: -1;
  }
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
  .menu {
    list-style: none;
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
    padding-left: 100px;
    margin-top: 100px;
    @media (max-width: 767px) {
      font-size: 18px;
      padding-left: 10px;
      margin-top: 30px;
    }
    @media #{$mobile_break_point} {
      line-height: 4;
      margin-top: 60px;
    }
    > li {
      opacity: 0;
      position: relative;
      > a {
        &::after {
          content: "";
          display: inline-block;
          height: 2px;
          width: 0;
          background: #fff;
          margin-left: 15px;
          vertical-align: middle;
          transition: 0.3s ease all;
        }
        &:hover {
          &::after {
            width: 140px;
          }
        }
      }
    }
  }
  svg {
    width: 30px;
    height: 30px;
    fill: #fff;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
  }
  .contact-info {
    margin-left: 125px;
    margin-right: 125px;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    color: #fff;
    @media(max-width: 767px) {
      margin-left: 20px;
      margin-right: 20px;
      display: block;
      .col {
        &:nth-child(3),
        &:nth-child(4) {
          width: 50%;
          float: left;
          p {
            margin: 2px 0 0;
          }
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }
    a[href^="tel"] {
      font-size: 40px;
      font-weight: bold;
      display: block;
      padding-left: 30px;
      // background: url(../images/tel.svg) 0 50% no-repeat;
      @media(max-width: 767px) {
        font-size: 20px;
        background-size: contain;
      }
    }
    ul {
      margin: 0 0 10px;
    }
  }
}
.page--menu {
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact-info {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
