.slide--picnic {
  min-height: calc(100% - 140px);
  position: relative;
}

.picnic {
  &__wrapper {
    height: 100%;
    & > .row {
      margin-left: 15%;
      & > .col:nth-child(2) {
        padding-left: 150px;
        @media #{$mobile_break_point} {
          margin: -20px auto 20px;
          width: 85%;
          background-color: #fff;
          box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.15);
          padding: 30px 20px;
          position: relative;
          z-index: 1;
        }
      }
    }
    .socials__list {
      display: inline-block;
      float: right;
      margin-top: 100px;
      margin-right: 50px;
      li:nth-child(2) {
        margin-left: 0;
        margin-top: 15px;
      }
      li:nth-child(3) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
    .content {
      text-align: center;
      height: 650px;
      @media #{$mobile_break_point} {
        height: auto;
      }
      &__title {
        color: $red_violet;
        margin: 0 auto;
        font-size: 28px;
        margin-bottom: 30px;
        max-width: 330px;
        text-align: left;
      }
      &__img {
        height: 100%;
        .back-to-main {
          background: $violet_eggplant;
          line-height: 80px;
          width: 75%;
          max-width: 75%;
          float: right;
          a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2px;
            span {
              padding-left: 10px;
            }
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
        .go-to-gallery {
          background: url(../images/svg-sprite/picnic-btn-artwork.svg) no-repeat;
          width: 205px;
          height: 230px;
          position: absolute;
          top: 60%;
          left: 0;
          a {
            display: block;
            text-align: center;
            max-width: 140px;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            text-align: left;
            padding-top: 80px;
            padding-left: 40px;
            span {
              display: block;
              width: 50px;
              margin-bottom: 20px;
            }
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
        &--secondry {
          width: 30%;
          position: absolute;
          top: 35%;
          left: 0;
          transform: translateY(-40%);
          z-index: 1;
          @media #{$mobile_break_point} {
            top: 7%;
          }
          filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.35));
          .content-artwork {
            position: absolute;
            top: -50px;
            right: 30px;
            z-index: 1;
            filter: drop-shadow(10px 10px 30px rgba(0,0,0,0.35));
            svg {
              width: 70px;
              height: 70px;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        display: inline-block;
        margin: 0 auto;
        color: $red_violet;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        max-width: 100px;
        margin-top: 80px;
        span {
          display: block;
          margin-top: 15px;
        }
        svg {
          width: 70px;
          height: 70px;
        }
      }
      &__body {
        text-align: left;
        max-width: 250px;
        margin: 0 auto 15px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
      }
    }
    .sponsor-info {
      position: absolute;
      text-align: center;
      top: 480px;
      left: 50%;
      transform: translate(-10%, -50%);
      background: #fff;
      width: 300px;
      max-height: 600px;
      height: 600px;
      padding: 35px;
      box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.15);
      @media #{$desktop} {
        top: 350px;
        left: 45%;
        height: 540px;
      }
      @media #{$mobile_break_point} {
        position: static;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        min-height: auto;
        margin-bottom: 80px;
      }
      .sponsor-artwork {
        position: absolute;
        top: -50px;
        left: -30px;
        filter: drop-shadow(10px 10px 30px rgba(0,0,0,0.35));
        @media #{$mobile_break_point} {
          top: 293px;
          z-index: 3;
        }
        svg {
          width: 80px;
          height: 80px;
        }
      }
      &__logo {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 80px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      h2, a {
        font-weight: bold;
        text-decoration: none;
        margin: 0;
      }
      h2, p, a, span {
        font-size: 14px;
        display: block;
        text-align: left;
        color: $thunder;
      }
      span {
        font-weight: 300;
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
      p:last-child {
        margin: 0;
        margin-top: 20px;
        font-weight: bold;
        font-size: 12px;
        color: $red_violet;
        text-align: center;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        li {
          display: block;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.6;
        }
      }
      &__description {
        margin: 0;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 300;
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }
}
