.slide--play {
  min-height: calc(100% - 140px);
  @media #{$mobile_break_point} {
    background-color: #fafafa;
  }
}

.play {
  &__wrapper {
    position: relative;
    & .row {
      @media #{$mobile_break_point} {
        flex-direction: column-reverse;
        display: flex;
        overflow: hidden;
      }
      .col {
        @media #{$mobile_break_point} {
          float: none;
        }
        &:nth-child(1) {
          padding-right: 170px;
          @media #{$desktop} {
            padding-right: 200px;
          }
          @media #{$mobile_break_point} {
            box-shadow: 10px 10px 60px 0 rgba(0,0,0,.25);
            width: 80%;
            margin: -30px auto 40px;
            padding: 30px 15px;
            position: relative;
            z-index: 1;
            background-color: #fff;
          }
        }
      }
    }
    .socials__list {
      float: right;
      margin-top: 25px;
      margin-bottom: 25px;
      @media #{$mobile_break_point} {
        float: none;
        text-align: center;
      }
    }
    .artwork {
      li {
        &:nth-child(1) {
          position: absolute;
          bottom: 60px;
          right: -100px;
          filter: drop-shadow(30px 30px 30px rgba(0,0,0,0.35));
          @media #{$mobile_break_point} {
            display: none;
          }
          svg {
            width: 95px;
            height: 95px;
          }
        }
        &:nth-child(2) {
          position: absolute;
          top: 10px;
          left: -40px;
          filter: drop-shadow(30px 30px 30px rgba(0,0,0,0.35));
          @media #{$mobile_break_point} {
            top: -125px;
            left: auto;
            right: -30px;
          }
          svg {
            width: 85px;
            height: 85px;
          }
        }
      }
    }
    .actions {
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        @media #{$desktop} {
          top: -40px;
        }
        @media #{$mobile_break_point} {
          display: none;
        }
      }
      &__item {
        display: block;
        width: 80px;
        height: 310px;
        a {
          display: block;
          writing-mode: vertical-rl;
          transform: rotate(-180deg);
          font-size: 12px;
          letter-spacing: 4px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          width: 100%;
          height: 100%;
          text-align: center;
          padding-right: 30px;
          span {
            margin-top: 10px;
          }
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
      .back-to-main {
        background: $violet_eggplant;
      }
      .go-to-gallery {
        background: $red_violet;
      }
    }
    .content {
      text-align: center;
      &__title {
        color: $red_violet;
        margin: 0 auto;
        font-size: 55px;
        margin-bottom: 30px;
        max-width: 270px;
        @media #{$mobile_break_point} {
          font-size: 30px;
        }
      }
      &__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        display: block;
        margin: 0 auto;
        color: $red_violet;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        max-width: 100px;
        margin-top: 80px;
        @media #{$mobile_break_point} {
          margin-top: 20px;
        }
        span {
          display: block;
          margin-top: 15px;
        }
        svg {
          width: 70px;
          height: 70px;
        }
      }
      &__body {
        text-align: left;
        max-width: 250px;
        margin: 0 auto;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.6;
      }
    }
    .sponsor-info {
      position: absolute;
      text-align: center;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      width: 355px;
      max-height: 635px;
      padding: 50px;
      box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.25);
      @media #{$desktop} {
        top: 10px;
      }
      @media #{$mobile_break_point} {
        position: static;
        background: transparent;
        transform: none;
        box-shadow: none;
        min-height: auto;
        width: 100%;
        padding: 20px;
      }
      &__logo {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 25px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      h2, a {
        font-weight: bold;
        text-decoration: none;
        margin: 0;
      }
      h2, p, a, span {
        font-size: 15px;
        display: block;
        text-align: left;
        color: $thunder;
      }
      span {
        font-weight: 300;
      }
      p {
        font-size: 15px;
        font-weight: 300;
      }
      p:last-child {
        margin: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 20px;
        li {
          display: block;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.6;
        }
      }
      &__description {
        margin: 0;
        font-size: 15px;
        line-height: 1.6;
        font-weight: 300;
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }
}
