.slide--shop {
  min-height: 580px;
  position: relative;
  padding-bottom: 100px;
}

.shop {
  &__wrapper {
    height: 100%;
    & .row {
      &:nth-child(1) {
        .col {
          &:nth-child(1) {
            @media #{$mobile_break_point} {
              margin-bottom: 10px;
            }
          }
        }
      }
      & > .col {
        &:nth-child(1) {
          width: 25%;
        }
        &:nth-child(2) {
          width: 75%;
          @media #{$desktop} {
            padding-left: 25px;
          }
        }
      }
    }
    .socials__list {
      float: right;
      margin-top: 40px;
      @media #{$desktop} {
        margin-right: -90px;
      }
      @media #{$mobile_break_point} {
        margin-bottom: 0;
      }
      .instagram {
        margin-left: 0;
        margin-top: 15px;
      }
      .youtube {
        margin-left: 0;
        margin-top: 15px;
      }
    }
    .actions {
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &__item {
        display: block;
        a {
          letter-spacing: 2px;
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
      .back-to-main {
        background: $violet_eggplant;
        position: absolute;
        bottom: 0;
        right: 20%;
        width: 300px;
        line-height: 85px;
        @media #{$desktop} {
          bottom: 0;
          line-height: 70px;
          z-index: -1;
        }
        @media #{$mobile_break_point} {
          position: fixed;
          z-index: 2;
        }
        a {
          display: block;
          font-size: 12px;
          letter-spacing: 4px;
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          width: 100%;
          height: 100%;
          text-align: center;
          span {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
      .go-to-gallery {
        background: url(../images/svg-sprite/exercise-btn-artwork.svg) no-repeat;
        width: 200px;
        height: 180px;
        position: fixed;
        left: 0;
        bottom: 0;
        @media #{$mobile_break_point} {
          z-index: 2;
        }
        a {
          display: block;
          padding-top: 75px;
          padding-left: 65px;
          max-width: 140px;
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          text-align: left;
          span {
            display: block;
            margin-bottom: 10px;
            margin-left: -10px;
          }
        }
      }
    }
    .content {
      .artwork {
        position: absolute;
        top: 20%;
        right: -5%;
        filter: drop-shadow(20px 20px 20px rgba(0,0,0,0.35));
        svg {
          width: 100px;
          height: 100px;
        }
      }
      text-align: center;
      &__title {
        color: $red_violet;
        font-size: 28px;
        margin-bottom: 28px;
        max-width: 200px;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 28px;
        margin-left: 20px;
      }
      &__img {
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      &__icon {
        display: block;
        margin: 0 auto;
        color: $red_violet;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        max-width: 100px;
        position: absolute;
        bottom: -30%;
        left: -5%;
        @media #{$desktop} {
          bottom: -35%;
        }
        @media #{$mobile_break_point} {
          bottom: 155px;
        }
          svg {
            width: 70px;
            height: 70px;
          }
          @media #{$desktop} {
            left: -4%;
            svg {
              width: 60px;
              height: 60px;
            }
          }
        }
        span {
          display: block;
          margin-top: 15px;
        }

        &__body {
          text-align: left;
          max-width: 240px;
          font-size: 15px;
          font-weight: 300;
          line-height: 1.6;
          margin-left: 20px;
        }
      }

    .store-info {
      position: absolute;
      text-align: center;
      bottom: -60%;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      width: 700px;
      max-height: 345px;
      padding: 20px 30px;
      box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.25);
      @media #{$desktop} {
        bottom: -82%;
        left: 56%;
        width: 630px;
        max-height: 320px;
      }
      @media #{$mobile_break_point} {
          position: relative;
          width: 85%;
          margin-bottom: 95px;
      }
      .store-data {
        & > .row {
          height: 100%;
          display: flex;
          align-items: center;
        }
        display: none;
        &.current {
          display: block;
        }
      }
      .artwork {
        position: absolute;
        top: -20%;
        left: -80%;
        svg {
          width: 86px;
          height: 76px;
        }
      }
      &__logo {
        display: inline-block;
        margin: 0 auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          vertical-align: top;
        }
      }
      .store {
        &__list {
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: left;
        }
        &__item {
          display: block;
          font-size: 13px;
          font-weight: 300;
          line-height: 2.3;
          text-decoration: none;
          margin: 0;
          cursor: pointer;
          text-transform: uppercase;
          color: $red_violet;
          font-weight: bold;
          &::before {
            transition: opacity 0.25s linear,
                        transform 0.35s ease-out;
            content: "";
            display: inline-block;
            width: 14px;
            height: 23px;
            background: url(../images/svg-sprite/sections-select-arrow.svg);
            position: absolute;
            left: 0;
            transform: translateX(0);
            opacity: 0;
          }
          &.current {
            &::before {
              transform: translateX(5px);
              opacity: 1;
            }
          }
        }
      }
      &__description {
        margin: 0;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 300;
        text-align: left;
      }
    }
  }
}
