html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'AkkuratStd', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background: white;

  @media (max-width: 767px) {
      min-height: 0;
  }
}
