// bower:scss
// @import "bower_components/slick-carousel/slick/slick.scss";
// endbower

// Settings – used with preprocessors and contain font, colors definitions, etc.
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/media';

// Tools – globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.
// Generic – reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS.
@import 'generic/box-model';
@import 'generic/body';

// Elements – styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.

// Objects – class-based selectors which define undecorated design patterns, for example media object known from OOCSS
@import 'objects/grid';
@import 'objects/header';
@import 'objects/button';
@import 'objects/socials';

// Components – specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components
@import 'components/map';
@import 'components/menu';
@import 'components/slide';
@import 'components/about';
@import 'components/events';
@import 'components/landing';
@import 'components/location';
@import 'components/explore';
@import 'components/gallery';
@import 'components/event-gallery';
@import 'components/contact';
@import 'components/eat-and-drink';
@import 'components/promenade';
@import 'components/food-park';
@import 'components/entertain';
@import 'components/exercise';
@import 'components/picnic';
@import 'components/shop';
@import 'components/play';
@import 'components/pet';


// Utilities – utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
@import 'utilities/calendar';
@import 'utilities/lightgallery';
@import 'utilities/lists';
@import 'utilities/clearfix';
@import 'utilities/text-alignment';
@import 'utilities/screen-reader';

@import 'shame';
