.entry-label,
span.block {
  display: block
}

.hide-text,
.one-line {
  white-space: nowrap
}

.dataTables_wrapper .dataTables_processing,
.visually-hidden {
  position: absolute
}

html {
  box-sizing: border-box
}

*,
::after,
::before {
  box-sizing: inherit
}

a {
  color: #17C4BB;
  text-decoration: none
}

a:active,
a:focus,
a:hover {
  color: #222;
  text-decoration: underline
}

body {
  color: #222;
  font: 400 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.entry-label {
  color: #aaa;
  font-size: 14px
}

.entry-details {
  font-size: 18px
}

.clearfix::after {
  clear: both;
  content: '';
  display: table
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px
}

.page-header.navbar .page-logo .logo-default {
  margin-top: 5px;
  max-width: 120px;
  max-height: 40px
}

.field-label,
.filter-button,
.tile {
  max-width: 100%
}

.page-logo {
  font-size: 28px;
  text-align: center;
  color: #fff;
  padding-top: 10px
}

.page-header.navbar .menu-toggler {
  background-image: url(../images/sidebar-toggler.png)
}

.page-header.navbar .menu-toggler.responsive-toggler {
  background-image: url(../images/sidebar-toggler-inverse.png)
}

@media (max-width:767px) {
  .page-header.navbar .menu-toggler.responsive-toggler {
    background-image: url(../images/sidebar-toggler.png);
    float: left
  }

}

html.hidden {
  display: block !important
}

html.fileinput .close {
  float: right
}

body>.clearfix {
  height: 0
}

.portlet.box>.portlet-title {
  padding: 0 15px
}

.portlet.blue>.portlet-title>.tools {
  padding: 6px 0 5px
}

.portlet>.portlet-title>.tools>a.collapse {
  background-image: url(../images/portlet-collapse-icon.png)
}

.portlet>.portlet-title>.tools>a.expand {
  background-image: url(../images/portlet-expand-icon.png)
}

.close {
  background-image: url(../images/remove-icon-small.png) !important
}

.portlet.box>.portlet-title>.tools>a.remove {
  background-image: url(../images/portlet-remove-icon-white.png)
}

.portlet.box>.portlet-title>.tools>a.config {
  background-image: url(../images/portlet-config-icon-white.png)
}

.portlet.box>.portlet-title>.tools>a.reload {
  background-image: url(../images/portlet-reload-icon-white.png)
}

.portlet.box>.portlet-title>.tools>a.expand {
  background-image: url(../images/portlet-expand-icon-white.png)
}

.portlet.box>.portlet-title>.tools>a.collapse {
  background-image: url(../images/portlet-collapse-icon-white.png)
}

.modal-backdrop {
  z-index: 10049
}

.dashboard-stat.product-entry {
  padding: 15px;
  color: #fff
}

.dashboard-stat p {
  margin: 0;
  font-size: 18px
}

.dashboard-stat p.category {
  font-size: 14px;
  opacity: .7
}

.portlet-body+.portlet-title {
  margin-top: 30px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
  padding: 24px 12px 23px
}

.dropdown-menu {
  z-index: 9995 !important
}

legend {
  font-size: 16px;
  line-height: 1.8
}

.template+.template {
  padding-top: 15px;
  border-top: 1px solid #ccc
}

.modal-body fieldset+fieldset {
  margin-top: 15px
}

form .table-scrollable {
  margin-bottom: 35px !important
}

.ms-container {
  background-image: url(../images/switch.png)
}

.listing-logo {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover
}

.filter-button {
  min-width: 100px
}

.col-sm-4>.filter-button {
  margin-top: 22px
}

.caption .btn {
  margin: 0 15px
}

.field-label {
  display: block;
  margin-top: 0;
  margin-bottom: 5px
}

.inline-form {
  display: inline
}

.mt-checkbox-list,
.mt-radio-list {
  line-height: 34px
}

.adjust-height {
  line-height: 50px
}

.mt-checkbox-list label+label,
.mt-radio-list label+label {
  margin-left: 15px
}

.adjust-radio-height .radio {
  padding-top: 2px;
  margin-right: 5px
}

.groups.groups--stacked {
  margin-bottom: 30px
}

.groups.groups--stacked .group+.group {
  margin: 0
}

.groups .group {
  background: #ffffc4;
  padding: 10px
}

.groups .group+.group {
  margin-top: 10px
}

.groups .group:last-of-type {
  margin-bottom: 20px
}

.groups .group .template+.template {
  border: 0;
  padding: 0
}

.modal-dialog p {
  margin: 10px 0
}

.modal-dialog p .block {
  font-size: 16px;
  margin-top: 10px
}

.banners,
.locations,
.offers {
  width: 74%;
  height: 180px;
  margin-bottom: 80px
}

.title {
  font-size: 18px
}

.device-information {
  background: #EBEDED;
  font-size: 16px;
  text-align: center;
  margin: 0 30px 15px;
  vertical-align: middle
}

.device-information p {
  padding: 0;
  margin: 0;
  line-height: 36px
}

.device-information .battery-percentage,
.device-information .device-id {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  font-size: 18px
}

.active-devices {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 40px
}

.active-devices .number-of-devices {
  padding-left: 5px
}

.track-device-title {
  font-size: 18px;
  color: #494949;
  padding-bottom: 10px
}

#map {
  width: 100%;
  height: 400px
}

.info-window p {
  margin: 0;
  padding: 5px;
  font-size: 10px
}

span.total {
  font-weight: 400;
  margin-right: 10px;
  color: #f18903
}

span.total::before {
  content: "Total: ";
  margin-right: 3px
}

span.minicash {
  margin-left: 10px
}

.page-header.navbar .page-logo>.logo-image,
.page-header.navbar .page-logo>a {
  float: none
}

.page-header.navbar .page-logo {
  text-align: center
}

fieldset fieldset legend {
  margin-top: 30px;
  margin-bottom: 10px;
}

.required-field::after {
  content: '*';
  color: red;
}

.mail-msg-header {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: relative;
}

.mail-msg-header .msg-sender-recver {
    margin-left: 10px;
    display: inline-block;
}
.mail-msg-content {
    padding: 20px 0;
}