.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left: 10px;
  @media #{$mobile_break_point} {
    padding-right: 10px;
    padding-left: 10px;
  }
  @media #{$tablet_break_point} {
    max-width: 750px;

  }
  @media #{$desktop} {
    max-width: 980px;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  @media #{$mobile_break_point} {
    margin: 0;
  }
  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  & > .col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    @media #{$mobile_break_point} {
      padding: 0;
    }
    &-one-third { width: 33.33%; }
    &-two-thirds { width: 66.66%; }
  }
  &--no-padding {
    margin-left: 0;
    margin-right: 0;
    & > .col {
      padding: 0 !important;
    }
  }

  &.equal-height {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    .events__wrapper & {
      @media #{$mobile_break_point} {
        display: block;
      }

    }

    &::before, &::after {
      content: none;
    }
    & > .col {
      float: none;
    }
  }
  &.vertically-center {
    align-items: center;
  }
  &--2 {
    & > .col {
      width: 50%;
      @media #{$mobile_break_point} {
        width: 100%;
        display: block;
      }
    }
  }
  &--3 {
    & > .col {
      width: 33.3%;
      @media #{$mobile_break_point} {
        width: 100%;
        display: block;
      }
    }
  }
  &--4 {
    & > .col {
      width: 25%;
      @media #{$mobile_break_point} {
        width: 100%;
        display: block;
      }
    }
     > .col-three-fourths {
      width: 75%;
      @media #{$mobile_break_point} {
        width: 100%;
        display: block;
      }
    }
  }

}

